<ion-header>

  <ion-navbar>
    <ion-title>Types</ion-title>
    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-list style="padding-bottom: 35px;" *ngIf="types">
      <div ion-item *ngFor="let type of types" style="z-index: 1;">
        <!-- <ion-avatar item-start>
          <img [src]="type && type.user && type.user.picture && type.user.picture.url && baseApiUrl + type.user.picture.url || '/assets/img/avatar-default.jpg'">
        </ion-avatar> -->
        <span style="font-size: 12px;" *ngIf="type && type.name">{{type.name | titlecase}}</span>
            <!-- <p>Paris, France</p> -->
        <span style="display: block;" *ngIf="type">
          <!-- <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="type.created_at" *ngIf="type && type.created_at"></ion-datetime> -->
          <span style="display: block; font-size: 12px; opacity: 0.7; margin-top: 5px;" *ngIf="type && type.created_at">{{ type.created_at | date:'short'}}</span>
          <button *ngIf="isAdmin()" round ion-button color="danger" style="position: absolute; right: 0; top: 0; bottom: 0; margin: auto 15px; z-index: 10;" (click)="deleteTypes(type)">Supprimer</button>
        </span>
      </div>  
    </ion-list>

    <div class="box-s" style="position: fixed; bottom: 0; width: 100%; z-index: 1000; background-color: white;">
      <form *ngIf="typeForm" [formGroup]="typeForm">
        <ion-input type="text" placeholder="Ajouter un type" formControlName="name">
        </ion-input>
        <button ion-button (click)="publish(item)" clear style="position: absolute; right: 0; z-index: 1; top: 0;">Ajouter</button>
      </form>
    </div>
</ion-content>