page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  agm-map {
    height: 300px;
  }

  .notag {
    padding: 5px 15px;
    color: white;
    border-radius: 20px;
    margin-right: 10px;
  }
  
}
