<ion-header>

  <ion-navbar>
    <ion-title> Création de balade </ion-title>
    <ion-buttons end>
        <button ion-button icon-only navPop>
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <div
    *ngIf="item && item.profilePic"
    class="item-profile"
    text-center
    #profilePic
    [style.background-image]="'url(' + item.profilePic + ')'"
  >
  </div> -->

  <!-- <div
    class="item-profile"
    text-center
    #profilePic
    [style.background-image]="'url(assets/img/home.jpg)'"
  >
  </div> -->

  <div style="height: 100%">
      <div style="position: relative; height: 100%; width: 100%;">
          <div id="map" style="height: 100%;"></div>
          <input id="pac-input" class="controls" type="text" placeholder="Trouver un lieu.." style="position: absolute; top: 15px; left: 0; right: 0; width: 250px; padding: 5px; margin: -5px auto 0 auto;">
          <div style="position: absolute; right: 15px; top: 15px;">

            <button ion-button block (click)="savePath()" *ngIf="showButtons">
                <ion-icon name="folder"></ion-icon>
            </button>
            <button ion-button block color="danger" (click)="deleteStroll()" *ngIf="showButtons">
                <ion-icon name="remove-circle"></ion-icon>
            </button>
            <button ion-button block color="danger" (click)="undo()" *ngIf="showButtons">
                <ion-icon name="undo"></ion-icon>
            </button>
            <button ion-button block color="danger" (click)="redo()" *ngIf="showButtons">
                <ion-icon name="redo"></ion-icon>
            </button>
        </div>
          <!-- <div class="inside-action-buttons" *ngIf="withInsideActionButtons">
              <div>
                  <div class="btn-group-vertical">
                    <button *ngIf="selectedShape"
                      (click)="removeSelectedShape()">
                    </button>
                  </div>
              </div>
          </div> -->
      </div>
  </div>

  <!-- <div *ngIf="withOutsideActionButtons">
      <div>
          <button *ngIf="selectedShape" (click)="removeSelectedShape()">
              Remove the selected polygon
          </button>
          <button (click)="submitPolyline()">
              Validate
          </button>
      </div>
  </div> -->

  <!-- <agm-map 
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="zoomOption"
    [fullscreenControl]="true"
    [streetViewControl]="'false'"
    [mapTypeControl]="'true'"
  >
    <ng-container>
        <agm-polyline [strokeColor]="'red'" [strokeWeight]="2">
            <agm-polyline-point *ngFor="let path of paths" [latitude]="path.latitude" [longitude]="path.longitude">
              <agm-circle [latitude]="path.latitude" [longitude]="path.longitude" [fillOpacity]="1" [fillColor]="'red'" [radius]="15" ></agm-circle>
            </agm-polyline-point>
        </agm-polyline>
    </ng-container>
  </agm-map> -->
</ion-content>