<ion-header>

  <ion-navbar>
    <ion-title> Création de balade </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <div
    *ngIf="item && item.profilePic"
    class="item-profile"
    text-center
    #profilePic
    [style.background-image]="'url(' + item.profilePic + ')'"
  >
  </div> -->

  <!-- <div
    class="item-profile"
    text-center
    #profilePic
    [style.background-image]="'url(assets/img/home.jpg)'"
  >
  </div> -->

  <div style="height: 100%">
      <div style="position: relative; height: 100%;">
          <div id="map" style="height: 100%;"></div>
          <button ion-button (click)="savePath()" style="position: absolute; top: 15px; right: 15px;" *ngIf="showButtons">
              Sauvegarder votre parcours
          </button>
          <button ion-button color="danger" (click)="deleteStroll()" style="position: absolute; top: 60px; right: 15px;" *ngIf="showButtons">
              Supprimer votre parcours
          </button>
          <!-- <div class="inside-action-buttons" *ngIf="withInsideActionButtons">
              <div>
                  <div class="btn-group-vertical">
                    <button *ngIf="selectedShape"
                      (click)="removeSelectedShape()">
                    </button>
                  </div>
              </div>
          </div> -->
      </div>
  </div>

  <!-- <div *ngIf="withOutsideActionButtons">
      <div>
          <button *ngIf="selectedShape" (click)="removeSelectedShape()">
              Remove the selected polygon
          </button>
          <button (click)="submitPolyline()">
              Validate
          </button>
      </div>
  </div> -->

  <!-- <agm-map 
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="zoomOption"
    [fullscreenControl]="true"
    [streetViewControl]="'false'"
    [mapTypeControl]="'true'"
  >
    <ng-container>
        <agm-polyline [strokeColor]="'red'" [strokeWeight]="2">
            <agm-polyline-point *ngFor="let path of paths" [latitude]="path.latitude" [longitude]="path.longitude">
              <agm-circle [latitude]="path.latitude" [longitude]="path.longitude" [fillOpacity]="1" [fillColor]="'red'" [radius]="15" ></agm-circle>
            </agm-polyline-point>
        </agm-polyline>
    </ng-container>
  </agm-map> -->
</ion-content>