<ion-header>

  <ion-navbar>
    <ion-title>Commentaires</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-list>
      <button ion-item *ngFor="let comment of comments">
        <span *ngIf="comment && comment.description">{{ comment.description }}
          <!-- <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="comment.created_at" *ngIf="comment && comment.created_at"></ion-datetime> -->
          <span style="display: block;" *ngIf="comment && comment.created_at">{{ comment.created_at | date:'short'}}</span>
          <button *ngIf="isAdmin(comment)" ion-button color="danger" style="position: absolute; right: 0; top: 0; bottom: 0;" (click)="deleteComments(comment)">Supprimer</button>
        </span>
      </button>  
    </ion-list>

    <div style="position: absolute; bottom: 0; width: 100%;">
      <form *ngIf="commentForm" [formGroup]="commentForm">
        <ion-input type="text" placeholder="Ajouter un commentaire" formControlName="description">
        </ion-input>
        <button ion-button (click)="publish(item)" style="position: absolute; right: 0; z-index: 1; top: 0;">Publier</button>
      </form>
    </div>
</ion-content>