<ion-header>

  <ion-navbar>
    <ion-title style="text-align: left;">{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
      <ion-card style="margin: 0; width: 100%" class="list-ion-card" *ngFor="let item of currentItems">
        <button class="list-button" style="background-color: white; padding-right: 0;" (click)="openItem(item)">

          <img height="250" style="object-fit: cover;" src="/assets/img/home.jpg"/>
    
          <ion-card-content style="text-align: left; padding-left: 25px; padding-right: 25px;">
            <ion-card-title style="padding: 0;">
              {{item.name}}
            </ion-card-title>
            <p>
              {{item.description}}
            </p>
          </ion-card-content>
        </button>

        <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->
<!--   
        <ion-item>
          <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
          Albums
          <ion-badge item-end>9</ion-badge>
        </ion-item>
  
        <ion-item>
          <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
          Followers
          <ion-badge item-end>260k</ion-badge>
        </ion-item>

        <ion-item-options>
            <button ion-button color="danger" (click)="deleteItem(item)">
              {{ 'DELETE_BUTTON' | translate }}
            </button>
        </ion-item-options> -->
  
      </ion-card>
    <!-- <button ion-item (click)="openItem(item)">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>

    <ion-item-options>
      <button ion-button color="danger" (click)="deleteItem(item)">
        {{ 'DELETE_BUTTON' | translate }}
      </button>
    </ion-item-options> -->
  </ion-list>
</ion-content>