<ion-header>

  <ion-navbar>
    <ion-title style="text-align: left;">{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
      <ion-card style="margin: 0; width: 100%" class="list-ion-card" *ngFor="let item of currentItems">
        <!-- <button class="list-button" (click)="openU()" style="z-index: 1000;"></button> -->
        <button class="list-button" (click)="openUser(item && item.user, item.created_by)" style="z-index: 1000; width: 100%; padding-right: 0;">
          <ion-item>
            <ion-avatar item-start>
              <img [src]="item && item.user && item.user.picture && item.user.picture.url && baseApiUrl + item.user.picture.url || item.user.picture_seed || '/assets/img/placeholder.png'">
            </ion-avatar>
            <h2 *ngIf="item && item.user && item.user.name">{{item.user.name}}</h2>
            <p *ngIf="item && item.city">{{item.city}}</p>
            <p *ngIf="item && item.length" style="font-size: 11px;">{{item.length}} m <ion-icon name="walk" style="margin-left: 5px;"></ion-icon></p>
          </ion-item>
        </button>
        
        <ion-slides pager style="height: 350px;">
            <ion-slide>
              <button class="list-button" style="background-color: white; padding-right: 0; width: 100%;" (click)="openItem(item)">
                <img style="height: 350px; width: 100%; object-fit: cover; margin: auto;" [src]="item && item.gallery && item.gallery.url && baseApiUrl + item.gallery.url || item.gallery_seed || '/assets/img/placeholder.png'" />
              </button>
            </ion-slide>

            <ng-container *ngIf="item && item.paths && item.paths.length > 0">
              <ion-slide *ngFor="let path of item.paths">
                  <button class="list-button" style="background-color: white; padding-right: 0; width: 100%;" (click)="openItem(item)">
                    <img style="object-fit: cover; height: 500px !important; margin: auto;" [src]="path && path.photo && path.photo.url && baseApiUrl + path.photo.url || path.photo_seed || '/assets/img/placeholder.png'" />
                  </button>
              </ion-slide>
            </ng-container>

          </ion-slides>
        
          <button class="list-button" style="background-color: white; padding-right: 0; width: 100%;" (click)="openItem(item)">
            <ion-card-content style="padding-left: 40px; padding-top: 25px; padding-right: 40px;">
                <h4 style="text-align: left; font-size: 25px; text-transform: uppercase; letter-spacing: 2px;">
                  {{item.name}}
                </h4>
                <p style="text-align: left; margin-top: 15px; margin-bottom: 15px;" *ngIf="item.strolltypes && item.strolltypes.length > 0">
                  <span class="notag" [ngStyle]="{'background-color': type && type.type && type.type.color ? type.type.color : '#488aff'}" *ngFor="let type of item.strolltypes">
                    #{{ type.type.name }}
                  </span>
                </p>
              <p style="text-align: left;">
                {{item.description}}
              </p>
            </ion-card-content>
          </button>
        <ion-row>
          <ion-col style="padding-left: 25px;">
            <!-- <div style="position: relative;"> -->
                <form *ngIf="commentForm" [formGroup]="commentForm">
                  <ion-input type="text" placeholder="Ajouter un commentaire" formControlName="description" style="padding: 0px 8px">
                  </ion-input>
                  <button ion-button outline round (click)="publish(item)" style="position: absolute; right: 40px; z-index: 1; top: 4px;">Publier</button>
                </form>
              <!-- </div> -->
          </ion-col>
        </ion-row>

        <ion-row style="margin-bottom: 25px;">
          <ion-col style="display: flex; align-items: center; justify-content: center;">
            <button ion-button icon-start clear round color="{{isColored(item)}}" (click)="addNotes(item)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>
                {{ item.notes.length }}
                <!-- {{ item.notes.length > 0 ? "J'aimes" : "J'aime" }} -->
              </div>
            </button>

            <button ion-button icon-start clear round (click)="checkComments(item)" *ngIf="item && item.comments && item.comments.length && item.comments.length > 0">
              <ion-icon name="text"></ion-icon>
              <div>
                {{ item.comments.length }}
                <!-- {{ item.comments.length > 0 ? 'Commentaires' : 'Commentaires'}} -->
              </div>
            </button>

            <button ion-button icon-start clear round color="dark" style="opacity: 0.5" *ngIf="item.comments && item.comments.length > 0 && item.comments[item.comments.length-1] && item.comments[item.comments.length-1].created_at">
              <div>
                  <!-- {{ item.comments && item.comments.length > 0 && item.comments[item.comments.length-1] && item.comments[item.comments.length-1].created_at && item.comments[item.comments.length-1].created_at | date:'short' }} -->
                <!-- {{ item.comments.length > 0 ? 'Commentaires' : 'Commentaires'}} -->
                {{ item.comments && item.comments.length > 0 && item.comments[item.comments.length-1] && item.comments[item.comments.length-1].created_at && item.comments[item.comments.length-1].created_at | date:'short' }}
              </div>
            </button>

            <!-- <span style="display: flex; align-items: center; justify-content: center;" center text-center *ngIf="item.comments && item.comments.length > 0 && item.comments[item.comments.length-1] && item.comments[item.comments.length-1].created_at">
              <ion-note>
                {{ item.comments && item.comments.length > 0 && item.comments[item.comments.length-1] && item.comments[item.comments.length-1].created_at && item.comments[item.comments.length-1].created_at | date:'short' }}
              </ion-note>
            </span> -->

          </ion-col>
        </ion-row>
      
      </ion-card>

      <!-- <ion-card style="margin: 0; width: 100%" class="list-ion-card" *ngFor="let item of currentItems">
        <button class="list-button" style="background-color: white; padding-right: 0; width: 100%;" (click)="openItem(item)">

          <img height="250" style="object-fit: cover;" [src]="item && item.gallery && item.gallery.url && 'https://gowalkapi.herokuapp.com/' + item.gallery.url || '/assets/img/advance-card-jp.jpg'" />
    
          <ion-card-content style="text-align: left; padding-left: 25px; padding-right: 25px;">
            <ion-card-title style="padding: 0;">
              {{item.name}}
            </ion-card-title>
            <p>
              {{item.description}}
            </p>
          </ion-card-content>
        </button>

        <ion-row>
          <ion-col>
            <button ion-button color="{{colored}}" icon-start clear small (click)="addNotes(item)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{item && item.notes && item.notes.length}} Likes</div>
            </button>
          </ion-col>
        </ion-row>

        <div style="position: relative;">
          <form *ngIf="commentForm" [formGroup]="commentForm">
            <ion-input type="text" placeholder="Ajouter un commentaire" formControlName="description">
            </ion-input>
            <button ion-button (click)="publish(item)" style="position: absolute; right: 0; z-index: 1; top: 0;">Publier</button>
          </form>
        </div>

        <div>
          <button ion-button (click)="checkComments(item)">Voir les {{ item && item.comments && item.comments.length && item.comments.length > 0 ? item.comments.length : '' }} commentaires</button>
        </div>
  
      </ion-card> -->
  </ion-list>
</ion-content>